@font-face {
  font-family: 'Avenir Next Rounded Std';
  src: url('AvenirNextRoundedStd-Reg.eot');
  src: local('Avenir Next Rounded Std Regular'),
    local('AvenirNextRoundedStd-Reg'),
    url('../fonts/AvenirNextRoundedStd-Reg.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/AvenirNextRoundedStd-Reg.woff2') format('woff2'),
    url('../fonts/AvenirNextRoundedStd-Reg.woff') format('woff'),
    url('../fonts/AvenirNextRoundedStd-Reg.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next Rounded Std';
  src: url('AvenirNextRoundedStd-Demi.eot');
  src: local('Avenir Next Rounded Std Demi'), local('AvenirNextRoundedStd-Demi'),
    url('../fonts/AvenirNextRoundedStd-Demi.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/AvenirNextRoundedStd-Demi.woff2') format('woff2'),
    url('../fonts/AvenirNextRoundedStd-Demi.woff') format('woff'),
    url('../fonts/AvenirNextRoundedStd-Demi.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

:root {
  /* color palette */
  --black: #1a1f29;
  --white: #ffffff;
  --white: #ffffff;
  --silver: #cccccc;
  --concrete: #f2f2f2;
  --bombayl: #aeaeb0;
  --manatee: #929499;
  --gray: #5e626b;
  --blue: #171c8f;
  --mirage: #1a1f29;
  --purple: #ba9be6;
  --pink: #e9a0a7;
  --peach: #f8cab1;
  --brown: #c88252;

  /* semantic color*/
  --color-text: var(--black);
  --color-disabled-1: var(--silver);
  --color-disabled-2: var(--manatee);
  --color-disabled-3: var(--concrete);
  --color-tertiary-1: var(--gray);
  --color-tertiary-3: var(--mirage);
  --color-primary: var(--blue);
  --color-border: var(--silver);
  --color-border-dark: var(--black);
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Avenir Next Rounded Std', -apple-system, BlinkMacSystemFont,
    Arial, sans-serif;
  background-color: var(--white);
  color: var(--color-text);
}

.button {
  border: none;
  background-color: transparent;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.16em;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 56px;
}

.skip-link {
  background: var(--black);
  color: var(--white);
  height: 3rem;
  top: 0;
  left: 50%;
  padding: 1rem;
  position: absolute;
  transform: translate(-50%, -100%);
  transition: transform 0.3s;
}

.skip-link:focus {
  transform: translate(-50%, 0%);
}

.visually-hidden {
  clip-path: inset(50%);
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
}

.header {
  position: relative;
  border-bottom: 1px solid var(--color-border);
}

.header-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header-navigation__list {
  list-style: none;
  display: flex;
  font-size: 16px;
  line-height: 20px;
  gap: 20px;
  padding: 33.5px 0 33.5px 0;
}

.header-navigation__item {
  padding: 0 0.5rem;
}

.header-navigation__link {
  color: var(--black);
  text-decoration: none;
}

.header__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-bottom: 4px;
}
.header__logo-image {
  max-width: 139px;
}

.breadcrumb {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.breadcrumb__list {
  font-size: 12px;
  line-height: 15px;
  list-style: none;
  display: flex;
  gap: 10px;
  padding: 0;
  padding-left: 4px;
}

.breadcrumb__item {
  padding: 4.5px 0;
  position: relative;
  color: var(--color-disabled-2);
  /* line-height: 1rem; */
}

.breadcrumb__item + .breadcrumb__item::before {
  content: '/';
  padding-right: 7px;
  font-weight: 600;
  font-size: 14px;
}

.breadcrumb__link {
  color: var(--black);
  text-decoration: none;
}

.tax-info {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: var(--color-tertiary-1);
}

.picked-color {
  text-transform: capitalize;
}

.product {
  padding: 16px 48px 0 48px;
}

.product-info {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.product-heading {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 0.01em;
}

.product-price {
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.01em;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  gap: 64px;
}

.product-content {
  flex-grow: 2;
  /* flex-shrink: 1;
  flex-basis: 666px; */
}

.product-image__wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 62px;
  padding-right: 24px;
}

.product-image {
  max-height: 707px;
  max-width: 100%;
  object-fit: contain;
}

.product-options {
  flex-grow: 1;
  /* flex-shrink: 2; */
  max-width: 408px;
  margin-right: 32px;
}

.product-form {
  margin-bottom: 48px;
}

.product-form__options {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 48px 0 40px 0;
}

.product-form__fieldset {
  border: none;
  padding: 0;
}

.product-form__legend {
  position: relative;
  margin-bottom: 11px;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.01em;
}

.product-form__radio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.product-form__radio-label {
  position: relative;
  min-width: 40px;
  min-height: 40px;
}


.product-form__radio-input {
  position: absolute;
  display: none;
  opacity: 0;
}

.product-form__radio-item {
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.radio-item--size {
  border: 1px solid var(--color-border);
}

.radio-item--color {
  padding: 2px;
  border: 1px solid transparent;
}

.radio-item--color:hover {
  border: 1px solid var(--color-border);
}

.radio-text {
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.01em;
}

.radio__color-title {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 13px;
  line-height: 16px;
  color: var(--color-tertiary-1);
  background-color: var(--white);
  z-index: 10;
  border: 1px solid var(--color-border);
  padding: 3px;
}

.radio-color {
  width: 100%;
  height: 100%;
}

.thin-border {
  border: 0.5px solid var(--color-border);
}

.product-form__radio-input:checked + .product-form__radio-item {
  border: 1px solid var(--black);
}

.product-form__radio-input:disabled + .radio-item--size {
  border: none;
  color: var(--silver);
  background-color: var(--color-disabled-3);
}

.radio-item--color[data-title]:hover::before {
  content: attr(data-title);
  position: absolute;
  top: -39%;
  left: 26px;
  width: max-content;
  border: 1px solid var(--color-border);
  background-color: var(--white);
  padding: 3px;
  z-index: 10;
  font-size: 13px;
  line-height: 16px;
  color: var(--color-tertiary-1);
}

.product-form__radio-input:disabled + .product-form__radio-item::after {
  content: '';
  position: absolute;
  border-bottom: 1px solid var(--silver);
  width: calc(100% * 1.37);
  top: 50%;
  left: calc(1rem / 2 * -1);
  transform: rotate(-45deg);
}

.quantity__container {
  padding-top: 5px;
  width: 120px;
  display: inline-flex;
  align-items: center;
}

.quantity__input {
  background-color: var(--white);
  text-align: center;
  font-size: 18px;
  line-height: 18px;
  appearance: textfield;
  display: inline-block;
  height: 40px;
  flex-grow: 1;
  flex-shrink: 1;
  width: 100%;
  border: none;
  border: 0.0625rem solid var(--color-border);
  order: 1;
  margin: 0;
  position: relative;
  z-index: 1;
}

.quantity__input::-webkit-outer-spin-button,
.quantity__input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.quantity__input:hover {
  border: 0.0625rem solid var(--color-border-dark);
}

.quantity-button {
  flex-shrink: 0;
  position: relative;
  background-color: var(--white);
  color: var(--color-tertiary-1);
  font-size: 18px;
  line-height: 18px;
  border: 0.0625rem solid var(--color-border);
  width: 40px;
  height: 40px;
}

.quantity-button::before,
.quantity-button::after {
  content: '';
  position: absolute;
  background-color: var(--color-tertiary-1);
  width: 10px;
  height: 1px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.quantity-button--increase {
  margin-left: -1px;
}

.quantity-button--decrease {
  margin-right: -1px;
}

.quantity-button--increase::after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.quantity__input:hover,
.quantity-button:hover {
  z-index: 2;
  border-color: var(--color-border-dark);
}

.quantity-button--decrease {
  order: 0;
}
.quantity-button--increase {
  order: 2;
}

.product-form__buttons {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.button-bordered {
  padding: 15px;
  color: var(--black);
  background: var(--white);
  border: 1px solid var(--color-border);
}

.button-primary {
  padding: 15px;
  color: var(--white);
  background: var(--color-primary);
  border: 1px solid var(--color-primary);
}

.suggestion {
  padding: 0 128px;
}

.paragraph__description {
  margin: 22px 22px 22px 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

  letter-spacing: -0.01em;
}

.suggestion__header {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 0.01em;
  color: var(--color-primary);
}

.suggestion__list {
  justify-content: center;
  margin-top: 64px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.suggestion__item {
  max-width: 25%;
  padding: 0 32px;
}
.suggestion__product {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.suggestion__tag-list {
  list-style: none;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.suggestion__image {
  object-fit: contain;
}

.footer-container {
  display: flex;
}
