@font-face {
  font-family: 'Avenir Next Rounded Std';
  src: url('AvenirNextRoundedStd-Reg.eot');
  src: local('Avenir Next Rounded Std Regular'),
    local('AvenirNextRoundedStd-Reg'),
    url('../fonts/AvenirNextRoundedStd-Reg.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/AvenirNextRoundedStd-Reg.woff2') format('woff2'),
    url('../fonts/AvenirNextRoundedStd-Reg.woff') format('woff'),
    url('../fonts/AvenirNextRoundedStd-Reg.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next Rounded Std';
  src: url('AvenirNextRoundedStd-Demi.eot');
  src: local('Avenir Next Rounded Std Demi'), local('AvenirNextRoundedStd-Demi'),
    url('../fonts/AvenirNextRoundedStd-Demi.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/AvenirNextRoundedStd-Demi.woff2') format('woff2'),
    url('../fonts/AvenirNextRoundedStd-Demi.woff') format('woff'),
    url('../fonts/AvenirNextRoundedStd-Demi.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* color palette */
:root {
  --black: #1a1f29;
  --white: #ffffff;
  --silver: #cccccc;
  --manatee: #929499;
  --gray: #5e626b;
  --blue: #171c8f;
  --mirage: #1a1f29;
  --purple: #ba9be6;
  --pink: #e9a0a7;
  --peach: #f8cab1;
  --brown: #c88252;
}

/* semantic color*/
:root {
  --color-text: var(--black);
  --color-disabled-1: var(--silver);
  --color-disabled-2: var(--manatee);
  --color-tertiary-1: var(--gray);
  --color-tertiary-3: var(--mirage);
  --color-primary: var(--blue);
  --color-border: var(--silver);
  --color-border-dark: var(--black);
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Avenir Next Rounded Std', -apple-system, BlinkMacSystemFont,
    Arial, sans-serif;
  background-color: var(--white);
  color: var(--color-text);
}

.skip-link {
  background: var(--black);
  color: var(--white);
  height: 3rem;
  top: 0;
  left: 50%;
  padding: 1rem;
  position: absolute;
  transform: translate(-50%, -100%);
  transition: transform 0.3s;
}
.skip-link:focus {
  transform: translate(-50%, 0%);
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 56px;
}

.header {
  position: relative;
  border-bottom: 1px solid var(--color-border);
}

.header-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-navigation__list {
  list-style: none;
  display: flex;
  font-size: 16px;
  line-height: 20px;
  gap: 20px;
  padding: 33.5px 0 33.5px 0;
}

.header-navigation__item {
  padding: 0 0.5rem;
}

.header-navigation__link {
  color: var(--black);
  text-decoration: none;
}

.header__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-bottom: 4px;
}
.header__logo-image {
  max-width: 139px;
}

.breadcrumb {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.breadcrumb_list {
  font-size: 12px;
  line-height: 15px;
  list-style: none;
  display: flex;
  gap: 10px;
  padding: 0;
  padding-left: 4px;
}

.breadcrumb_item {
  padding: 4.5px 0;
  position: relative;
  color: var(--color-disabled-2);
  line-height: 1rem;
}

.breadcrumb_item + .breadcrumb_item::before {
  content: '/';
  padding-right: 10px;
  font-weight: 600;
  font-size: 14px;
}

.breadcrumb_link {
  color: var(--black);
  text-decoration: none;
}

.product {
  padding: 14px 48px 0 48px;
}

.product-header {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 0.01em;
}

.product-container {
  display: flex;
  gap: 64px;
}

.product-content {
  flex-grow: 2;
  /* width: 100%; */
}

.product-image-wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 62px;
  padding-right: 24px;
}

.product-image {
  max-height: 707px;
  max-width: 100%;
  object-fit: contain;
}

.product-form-wrapper {
  flex-grow: 1;
  max-width: 408px;
  margin-right: 32px;
}

.suggestion {
  padding: 0 128px;
}

.suggestion__header {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 0.01em;
  color: var(--color-primary);
}

.suggestion__list {
  margin-top: 64px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.suggestion__item {
  max-width: 25%;
  padding: 0 32px;
}
.suggestion__product {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.suggestion__tag-list {
  list-style: none;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.suggestion__image {
  object-fit: contain;
}
